* {
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    // font-family: sans-serif;

    &:is( html ) {
        font-size: 62.5%;
    }

    &:is( body ) {
        position: relative;
        font-size: 1.6rem;
    }
}

.logo {
    height: 3.6rem;
    transform: rotate(45deg);
}