$dark: #242424;
$light: #fefefe;
$primary: #be0000;
$secondary: #e34d4d;

$silverDark: #bdbdbd;
$silverLight: #ededed;
$bronzeDark: #873c00;
$bronzeLight: #db6c2b;
$goldDark: #daa520;
$goldLight: #f0bf43;
$greyDark: #313131;
$greyLight: #737373;

