@use "../global/variables" as *;
@use "../global/normalize" as*;
@use "../global/mixins" as*;

.title_h1 {
    background-image: url("/assets/image/rideau.jpg");
    // background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100rem;
}

h1 {
    font-size: 25rem;
    margin: 0;
    font-weight: 700;
    color: transparent;
    background: url(/assets/image/popcorn.jpg);
    background-clip: text;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    font-size: 7rem;
    margin: 0;
}

h2, .ph-arrow-circle-down {
    color: $light;
}

.arrow {
    font-size: 12rem;
    margin-top: 2rem;
    color: $light;
}