@use "../global/variables" as *;
// @use "../global/normalize" as*;
@use "../global/mixins" as*;

#call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 7.2rem);
    

    background-image: url("/assets/image/rideau.jpg");

    @include fullCenterBgImage;

article {

        text-align: center;
        color: $light;

        h1 {
            margin: 2rem;
            font-size: 6rem;
            font-weight: bolder;
            background: url('/assets/image/popcorn.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            color: transparent;                 
            -webkit-background-clip: text;  
            background-clip: text;

            @include tablet {
                font-size: 16rem;
            }

            @include desktop {
                font-size: 20rem;
            }
        }

        h2 {
            margin: 2rem;
            font-size: 4rem;
            color: $light;

            @include tablet {
                font-size: 5rem;
            }

            @include desktop {
                font-size: 7rem;
            }

        }

        a {
            color: $light;
            font-size: 10rem;
            text-decoration: none;
        }

        .ph-arrow-circle-down {
            color: $light;
        }

        .arrow {
            font-size: 10rem;
            // margin-top: 2rem;
            // color: $light;
        }
    }
}
